/* Body styles */
body {
    background-color: black; /* Black background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Adjust the positioning of the headshot */
#headshot {
    position: absolute;
    max-width: 25px; /* Set the maximum width */
    max-height: 75px; /* Set the maximum height */
    left: 25px; /* Adjust the left position */
    top: 10px; /* Adjust the top position */
    z-index: 2; /* Ensure the headshot is above the rectangle */
}

/* Centered square styles */
#centered-square {
    width: 800px; /* Adjust the width as needed */
    height: 400px; /* Ensure height matches the width */
    background-color: #757980; /* Grey background color */
    border: 5px solid #7d5389; /* Purple border color */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Add this to position its child elements */
}

/* Logo styles */
#logo img {
    max-width: 100px; /* Adjust the maximum width of the logo */
    height: auto; /* Maintain the aspect ratio of the logo */
    position: absolute;
    top: 10px; /* Adjust the top position to move it down */
}

/* Adjust the positioning of the links */
#discover-more, #download-resume {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #637999; /* Button background color */
    color: white; /* Button text color */
    text-decoration: none;
    border-radius: 5px; /* Add rounded corners */
    margin-right: 10px; /* Add spacing between buttons */
    position: absolute;
    bottom: 10px; /* Adjust the bottom position within the square */
    left: 10px; /* Adjust the left position within the square */
}

/* Social Media links */
#social-media {
    position: absolute;
    bottom: 20px; /* Adjust the bottom position */
    left: 10px; /* Adjust the horizontal position */
}

#social-media a {
    color: white; /* White color for social media icons */
    font-size: 24px; /* Adjust the font size as needed */
    margin-right: 10px; /* Add spacing between social media icons */
    text-decoration: none;
}
